<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIL - Today I learned</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body class="home">
    <h1>
        TIL
        <div>
            <img style="height: 20px;width: auto;position: relative;left: -15px;" src="https://github.com/almoce/til/actions/workflows/node.js.yml/badge.svg?branch=main&event=push" />
        </div>
    </h1>
    <div>
        {{content}}
    </div>
</body>
</html>